<div class="card text-dark bg-white mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body">
    <h5 class="card-title">Listado de Clientes</h5>
    <div class="my-2 text-left">
      <button class="btn btn-outline-primary" [routerLink]="['/clientes/form']"> Crear Cliente </button>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Creado</th>
          <th>Correo</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{ cliente.id }}</td>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.apellido }}</td>
          <td>{{ cliente.createAt }}</td>
          <td>{{ cliente.email }}</td>
          <td>
            <div class="input-group ">
              <div class="col-sm-4">
                <button class="btn btn-outline-secondary">
                  Modificar
                </button>
              </div>
              <div class="col-sm-4">
                <button class="btn btn-outline-danger" (click)="deleteById(cliente.id)">
                  Eliminar
                </button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
